# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.pkl
.env
.env.*
venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Node (if frontend or full-stack)
node_modules/
dist/
build/
npm-debug.log*

# OS/system
Thumbs.db
ehthumbs.db
Desktop.ini

# Git
.git/
